body{

    background-color: black;
}

.tw{

    width: 200px;

    margin-left: 28%;

}

.ini{

    margin-left: 33%;

}

.reg{

    margin-left: 39%;

}

.ini2{

    margin-left: 33%;

}

.reg2{

    margin-left: 32%;

}
